header {
	background: #002b53 !important;
	padding-top:  20px;
	padding-bottom: 20px;
}

header .logo img{
	width: 100px;
}

.msp-nav .nav-item a {
	color: #002b53;
	padding: 15px;
	font-weight: bold;
	text-transform: uppercase;
}

.msp-nav .nav-item a:hover {
	color: #fbb91d;
	background: none;
}

.overlay {
	position: absolute;
	padding: 50px;
	width: 100%;
	min-height: 465px;
	/*background: #33333375;*/
	z-index: 1002;
	color:  #fff;
	background-size: cover;
	clear: both;
}

.overlay-img {
	position: absolute;
	z-index: 1001;
}

.text-wrap {
	width: 600px;
	margin: auto;
	padding: 50px;
	border: 1px solid #fff;
	border-radius: 5px;
}

.text-wrap h3 {
	text-transform: uppercase;
}

.social a {
	color: #fff;
}

.vision-mission {
	background: #bbb;
}

.dropdown-menu {
	z-index: 1002 !important;
	opacity: 0.9;
}

.dropdown-menu a {
	padding: 5px 15px !important;
}

.vision-item {
	min-height: 275px;
	padding: 20px;
	text-align: center;
	background: #002b53;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.why-solar {
	padding: 25px;
	background: #e9f4ff;
	border-radius: 3px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer-title {
	background: #fbb91d;
	padding: 25px;
	font-size: 28px;
	font-weight: bold;
	position: relative;
	top: -40px;
	border-radius: 50px;
	text-align: center;
	border-right: 3px solid #002b53;
	border-left:  3px solid #002b53;
}

.footer-first-left, .footer-first-center, .footer-first-right {
	padding-right: 30px;
	padding-left: 30px;
}

.footer-first-center {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}

.summary-img {
	padding-top: 20px;
	padding-bottom:  20px;
}

.summary-img img {
	width: 300px !important;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border: 3px solid #fff;
}

.content-data {
	background: #f0f5f9;
}

.contentView p {
	line-height: 32px;
}

.contentView table tr td p {
	line-height:  14px !important;
	margin-bottom: 0px;
}

.text-dark-blue {
	color: #002b53 !important;
}

.btn-dark-blue {
	background:  #002b53;
	color: #fff;
}

.btn-dark-blue:hover {
	background: #08447a;
	color: #fff;
}

@media only screen and (max-width: 700px) {
  .enterprise-logo {
  	width: 75px;
  	margin:  10px;
  }

  .overlay {
  	display: none;
  }


  p {
  	margin-left:  0px !important;
  }

  img{
  	max-width: 100% !important;
  	height: auto !important;
  }
}


/*Carousel Fade*/
.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: 1s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}